<header>
  <ion-item button rounterlink="tab">
    <ion-avatar slot="start">
      <img src="https://cdn-icons-png.flaticon.com/512/1373/1373255.png">
    </ion-avatar>
    <ion-label>
      Leonardo de Aquino
    </ion-label>
  </ion-item>
</header>

<content class="spc">
  <div>
    <ion-item>
      <ion-label color="light" >
        Leonardo de Aquino
      </ion-label  >
      <ion-icon name="information-circle" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label color="light"  >
        login
      </ion-label>
      <ion-icon name="information-circle" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label color="light" >
        senha
      </ion-label>
      <ion-icon name="information-circle" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label color="light" >
        email
      </ion-label>
      <ion-icon name="edit" slot="end"></ion-icon>
    </ion-item>
  </div>
</content>
<ion-content class="teste" [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>
  <div class="animate__animated animate__fadeInLeft btns">
    <ion-button color="dark" size="small">

      <ion-icon class="btnm" color="success" name="checkmark-circle-outline" routerlink="tabs"></ion-icon>
      Editar infomações

    </ion-button>
 
  </div>
</ion-content>