<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="btnm buscar color animate__animated animate__fadeInLeft ">Login</ion-title>

  </ion-toolbar>
  <ion-item>
    <ion-label position="stacked" class="animate__animated animate__fadeInLeft ">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" class="animate__animated animate__fadeInLeft">Senha</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-content class="teste" [fullscreen]="true">

    <ion-header collapse="condense">
      <ion-toolbar>

      </ion-toolbar>
    </ion-header>
    <div class="animate__animated animate__fadeInLeft btns">
      <ion-button color="light" size="large">

        <ion-icon class="btnm" color="success" name="checkmark-circle-outline"></ion-icon>

      </ion-button>
      <ion-button color="light" size="large">

        <ion-icon class="btnm" color="danger" name="close-outline"></ion-icon>

      </ion-button>
    </div>
    <div class="animate__animated animate__fadeInLeft btns">
      <ion-button routerlink="cadastrocomercio" color="light" size="small">
        <label >
          Cadastre-se Já
        </label>
      </ion-button>
    </div>
  </ion-content>