<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="btnm buscar color animate__animated animate__fadeInLeft ">Login</ion-title>

  </ion-toolbar>
  <ion-item>
    <ion-input color="light" [(ngModel)]="usuario.Email_Usuario" placeholder="Email"  position="stacked" class="animate__animated animate__fadeInLeft "></ion-input>
  
  </ion-item>
<br>
  <ion-item>
    <ion-input type="password" color="light" [(ngModel)]="usuario.Senha_Usuario" placeholder="Senha" position="stacked" class="animate__animated animate__fadeInLeft"></ion-input>
    
  </ion-item>
  <ion-content class="teste" [fullscreen]="true">

    <ion-header collapse="condense">
      <ion-toolbar>

      </ion-toolbar>
    </ion-header>
    <div class="animate__animated animate__fadeInLeft btns">
      <ion-button (click)="login()" color="dark" size="large">

        <ion-icon class="btnm" color="success" name="checkmark-circle-outline"></ion-icon>

      </ion-button>
      <ion-button  routerLink="/tabs/tab1" color="dark" size="large">

        <ion-icon class="btnm" color="danger" name="close-outline"></ion-icon>

      </ion-button >
    </div>
    <div class="animate__animated animate__fadeInLeft btns">
      <ion-button routerLink="/cadastrocomercio" color="dark" size="small" >
        <ion-label >
          Cadastre-se seu Comercio
        </ion-label>
      </ion-button>
    </div>
  </ion-content>