<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar (click)="AchaBar()" class=" animate__animated animate__fadeInLeft"
      showCancelButton="never"></ion-searchbar>

  </ion-toolbar>


  <ion-content class="teste" [fullscreen]="true">

    <div class="animate__animated animate__fadeInLeft conteudo">
      <img class="img-item" src="assets/img/BEER4.jpg" alt="Imagem da Cerveja" />

    </div>
  -->
<ion-header [translucent]="true">
  <ion-item class="spc color" button routerLink="/usuario" >
    <ion-avatar slot="start" >
      <img src="https://cdn-icons-png.flaticon.com/512/1373/1373255.png">
    </ion-avatar>
    <ion-label>
      Seja Bem Vindo...
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <div class=" conteudo animate__animated animate__fadeInLeft">
    <img class="img-item" src="assets/img/BEER5.png" alt="Imagem da Cerveja" />


  </div>
</ion-content>