<ion-header  [translucent]="true" >
<ion-toolbar >
  <ion-searchbar (click)="AchaBar()" class="color animate__animated animate__fadeInLeft color"showCancelButton="never"></ion-searchbar>
 
</ion-toolbar>


<ion-content class="teste" [fullscreen]="true">

  <div class="animate__animated animate__fadeInLeft">
    <img 
    class="img-item"
    src="assets/img/BEER4.jpg"
    alt="Imagem da Cerveja"
    />
  
  </div>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>


