
<ion-item>
  <ion-label position="stacked" color="tertiary" >Nome Usuario</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked" color="tertiary" >Email</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked" color="tertiary" >Senha</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked" color="tertiary" >Confirmação Senha</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
  
    </ion-toolbar>
  </ion-header>
  <div class="btns">
    <ion-button color="light" size="large">

      <ion-icon color="success" name="checkmark-circle-outline"></ion-icon>

    </ion-button>
    <ion-button color="light" size="large">

      <ion-icon color="danger" name="close-outline"></ion-icon>

    </ion-button>
  </div>
</ion-content>
