
  <ion-toolbar>
    <ion-title class="btnm buscar color animate__animated animate__fadeInLeft ">Cadastro Comercio</ion-title>

  </ion-toolbar>
  <ion-item>
    <ion-input color="light" placeholder="Nome do Comercio" position="stacked"
      class="animate__animated animate__fadeInLeft "></ion-input>

  </ion-item>
  <br>
  <ion-item>
    <ion-input color="light" placeholder="Email" position="stacked" class="animate__animated animate__fadeInLeft ">
    </ion-input>

  </ion-item>
  <br>
  <ion-item>
    <ion-input color="light" placeholder="Cidade" position="stacked" class="animate__animated animate__fadeInLeft ">
    </ion-input>

  </ion-item>
  <br>
  <ion-item>
    <ion-input color="light" placeholder="Estado" position="stacked" class="animate__animated animate__fadeInLeft ">
    </ion-input>

  </ion-item>
  <br>
  <ion-item>
    <ion-input color="light" placeholder="Senha" position="stacked" class="animate__animated animate__fadeInLeft ">
    </ion-input>

  </ion-item>
  <br>
  <ion-item>
    <ion-input color="light" placeholder="Confirmação da Senha" position="stacked"
      class="animate__animated animate__fadeInLeft "></ion-input>

  </ion-item>
  <br>
    <ion-header collapse="condense">
      <ion-toolbar>

      </ion-toolbar>
    </ion-header>
    <ion-content class="teste" [fullscreen]="true">

      <ion-header collapse="condense">
        <ion-toolbar>

        </ion-toolbar>
      </ion-header>
      <div class="animate__animated animate__fadeInLeft btns">
        <ion-button color="dark" size="large">

          <ion-icon class="btnm" color="success" name="checkmark-circle-outline"></ion-icon>

        </ion-button>
        <ion-button color="dark" size="large" routerLink="/tabs/tab1">

          <ion-icon class="btnm" color="danger" name="close-outline"></ion-icon>

        </ion-button>
      </div>
    </ion-content>